.nav--container {
  margin: 0;
  /*display: inline;*/
  list-style: none;
  /*border-style: solid;*/
  /*border: thin;*/
  background-color: #262626;
}

.nav__item {
  display: inline-flex;
  padding: 25px;
}

.link__text {
  font-family: system-ui;
  text-decoration: none;
  transition: color 0.1s linear;
  /*font-family: "Gill Sans", sans-serif;*/
  color: #F2F2F2;
}

.link__text:hover {
  color: #565759;
}

/*.link__text:active {
  color: red;
}*/


